<a href="https://colab.research.google.com/github/youssoubo1/zadanie/blob/main/WPM_ok.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# # Все пакеты, которые нам нужно импортировать 
import pandas as pd              # для табличного вывода
import numpy as np               # для линейной алгебры

In [3]:

# Данные закодированы в векторы и матрицы
#mtx =   [[690, 3.1,  9,  7,  4],
   #      [590, 3.9,  7,  6, 10],
  #       [600, 3.6,  8,  8,  7],
 #        [620, 3.8,  7, 10,  6],
#         [700, 2.8, 10,  4,  6],
#         [650, 4.0,  6,  9,  8]]

#w = [0.3, 0.2, 0.2, 0.15, 0.15]

#names = ['Alfred', 'Bever', 'calvi', 'dian','edward', 'franc']


# Отобразить необработанные данные, которые у нас есть
#Data = pd.DataFrame(mtx, index = names)
#Data

# Данные закодированы в векторы и матрицы
mtx = [[0.43,	0.35,	0.46,	0.37,	0.23],
       [0.37,	0.44,	0.35,	0.32,	0.57],
       [0.38,	0.41,	0.41,	0.43,	0.40],
       [0.39,	0.43,	0.35,	0.53,	0.34]]

w = [0.3, 0.2, 0.2, 0.15, 0.15]


nam = ['Временные хар-ки', 'Восстана-вливаемость', 'Покрытие контекста', 'гибкость','Упра-вляемость']

names = ['оzon', 'amazon', 'aliexpress', 'wilberrу']
# Отобразить необработанные данные, которые у нас есть
Data = pd.DataFrame(mtx, index = names,columns=nam)
Data

,Временные хар-ки,Восстана-вливаемость,Покрытие контекста,гибкость,Упра-вляемость
оzon,0.43,0.35,0.46,0.37,0.23
amazon,0.37,0.44,0.35,0.32,0.57
aliexpress,0.38,0.41,0.41,0.43,0.40
wilberrу,0.39,0.43,0.35,0.53,0.34

In [4]:
f =-1
for k in range(3):
    f = f+1
    if f < 5:
      exec(f'cat_{k} =((np.array(mtx[f]))/(np.array(mtx[f+1::1])))**(np.array(w))')

In [5]:
b =" "
print (np.product(cat_0,axis = 1),"\n"+b*10,
       np.product(cat_1,axis = 1),"\n"+b*21,
       np.product(cat_2,axis = 1))

[0.94140556 0.92580017 0.93262112]
           [0.98342331 0.9906688 ]
                      [1.00736762]

In [ ]:
1<2,1<3,1<4
2<3,2<4
3>4
1,2,4,3


for k in range(4):
    if cat_0[k] < 1:
          if k = 1 :
            exec(f'A0_{k} = names[1]')
    else : exec(f'A0_{k} = cat_0[f]')

In [ ]:
A_1

In [ ]:
print(mtx[6])

In [ ]:

for i in mtx:
    f = f+1
    if f < 5:
        #R.append(((np.array(mtx[f-1]))/(np.array(mtx[f::1])))**w) 
        exec(f'{i}=mtx[i]')
        #R.append((mtx[f]))
        #print(f)

In [ ]:
h = len(R)
#T = pd.DataFrame(R)
#Data = pd.DataFrame(R)
#Data

In [ ]:
T.product(axis = 1)

In [ ]:
#R=[]
#f= -1
#for i in mtx:
    #if f<= 4:
        #f = f+1
        #R.append((np.array(mtx[f]))*(np.array(mtx[f+1])))
R=[]
f= -1
#for i in mtx:
#    if f<= 4:
       #f = f+1: 
          #R.append(np.array(mtx[f::1]))*np.array(mtx[f]))
        #(np.array(mtx[0::2]))/(np.array(mtx[1::2])))
        #(np.array(mtx[1::1]))*(np.array(mtx[0]))
        #(np.array(mtx[2::1]))*(np.array(mtx[1]))
        #np.array(mtx[3::1])*np.array(mtx[2])
        #np.array(mtx[4::1])*np.array(mtx[3])
        #np.array(mtx[5::1])#*np.array(mtx[4])

In [ ]:
#R=[]
#f= -1
#for i in mtx:
    #if f<= 4:
        #f = f+1
        #R.append((np.array(mtx[f]))*(np.array(mtx[f+1])))
R=[]
f= -1
#for i in mtx:
#    if f<= 4:
       #f = f+1: 
          #R.append(np.array(mtx[f::1]))*np.array(mtx[f]))
        #(np.array(mtx[0::2]))/(np.array(mtx[1::2])))
(np.array(mtx[0]))

In [ ]:
#T = pd.DataFrame(R)
#T
R

In [ ]:
T.product(axis = 1)

In [ ]:
a = np.array(mtx[0::2])
b = np.array(mtx[1::2])

In [ ]:
x = (a/b)
x

In [ ]:
x = (a/b)**np.array(w)
x

In [ ]:
Data_norm = np.sum(Da,axis=2)
print(Data_norm)

In [ ]:
#Comme vous pouvez le constater, le nom a est bien associé à l'entier situé à la 2e ligne (indice 1) et à 
#la 3e colonne (indice 2), c'est-à-dire 8.
m = [[1, 3, 4],
     [5, 6, 8],
     [2, 1, 3],
     [7, 8, 15]]
a = m[1][2]
a

In [ ]:
m = [[1, 3, 4],
     [5, 6, 8],
     [2, 1, 3],
     [7, 8, 15]]
nb_colonne = 3
nb_ligne = 4
for i in range(0, nb_ligne):
	for j in range(0, nb_colonne):
		a = m[i][j]
		print(a)

In [ ]:
a = [[1, 3, 4],
     [5, 6, 8],
     [2, 1, 3],
     [7, 8, 15]]
b = [[1, 3, 4],
     [5, 6, 8],
     [2, 1, 3],
     [7, 8, 15]]

x = a*b

In [ ]:
a = np.array([[1, 2, 3],
              [4, 5, 6],])
b = np.array([[2, 1, 3],
              [3, 2, 1]])
a*b

In [ ]:
a = np.array([[1, 2, 3],
              [4, 5, 6],
              [2, 1, 3],
              [3, 2, 1]])

In [ ]:
a[1::2]

In [ ]:
x = [(1,3), (2,4), (8,2)] 
for a, b in x: print(a, "+", b, "=", a+b)

In [ ]:
l = [1, 7, 9, 15, 5, 20, 10, 8]
mon_tab = [p**2 for p in l if p < 10]
mon_tab

In [ ]:
m = [[1, 3, 4],
     [5, 6, 8],
     [2, 1, 3],
     [7, 8, 15]]
nb_colonne = 3
nb_ligne = 4
for i in range(0, nb_ligne):
	for j in range(0, nb_colonne):
		a = m[i][j]
		print(a)

In [ ]:
weights = np.array([ [0.20, 0.15, 0.40, 0.25] ])

# Dataset
dataset = np.array([
                [25, 20, 15, 30],   #a1
                [10, 30, 20 , 30],   #a2
                [30, 10, 30, 10]   #a3
                ])
x = np.zeros((dataset.shape[0], dataset.shape[1]), dtype = float)
for j in range(0, dataset.shape[1]):
        x[:,j] = 1 + ( dataset[:,j] - np.min(dataset[:,j]) ) / ( np.max(dataset[:,j]) - np.min(dataset[:,j]) )

In [ ]:
x